<%= form_for @post, url: "/categories/#{@post.category_id}/posts/#{@post.id}", method: :patch do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
  <%= f.submit :value => "Edit Item" %>
<% end %>
