<h2>Buy this <%= @post.title %></h2>
Price: $<%=@post.price%><br>
<%=@post.description%><br><br>
Seller: <%= @post.seller.username.capitalize %>


<%= link_to "Edit Post", "/categories/#{@post.category_id}/posts/#{@post.id}/edit" %>
<%= link_to "Delete Post", "/categories/#{@post.category_id}/posts/#{@post.id}", method: :delete %>
