<!DOCTYPE html>
<html>
<head>
  <title>CraigslistJr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <% if current_user %>
        <%= link_to current_user.username, user_path(current_user) %>
        <%= link_to "Logout", '/sessions/logout' %>
        <%= link_to "Home", root_path %>
      <% else %>
        <%= link_to "Register", new_user_path %>
        <%= link_to "Login", '/sessions/new' %>
        <%= link_to "Home", root_path %>
      <% end %>
    </header>

<%= yield %>

</body>
</html>
